// app global css in SCSS form

.body--dark {
  background-color: var(--q-dark) !important;
  --q-secondary: orange !important;
  --q-primary: var(--q-dark-page) !important;
  --q-dark: orange !important;
}
