// app global css in SCSS form

.body--light {
  --m-tertiary: #fafafa;

  .bg-primary {
    background-color: var(--q-secondary) !important;
  }

  .bg-secondary {
    background-color: var(--q-primary) !important;
  }

  .bg-tertiary {
    background-color: var(--m-tertiary) !important;
  }
}

.body--dark {
  --q-primary: #9575cd !important;
  --q-secondary: #212121 !important;
  --m-tertiary: #3d3d3d !important;

  .bg-primary {
    background-color: var(--q-secondary) !important;
  }

  .bg-secondary {
    background-color: var(--q-primary) !important;
  }

  .bg-tertiary {
    background-color: var(--m-tertiary) !important;
  }
}
